<div class="col-lg-offset-1 col-lg-8">
  <h1>About PRISM</h1>
  <p>
    Not too long about there was a lot of discussion about the NSA surveilance program <a href="http://en.wikipedia.org/wiki/PRISM_(surveillance_program  )">PRISM</a>. In the midst of this I read Kieran Healy's article on Slate about <a href="http://kieranhealy.org/blog/archives/2013/06/09/using-  metadata-to-find-paul-revere/">Using Metadata To Find Paul Revere</a>.
  </p>
  <p>
    I found this article so interesting that I set off doing the same looking at my Facebook friends and their groups. You can see the first attempt in my <a href="https://github.com/jrabbe/prism">PRISM github repo</a> in the <em>old</em> folder.
  </p>
  <p>
    This tool will ask you to enter a Facebook access token (see below), and depending on the settings you set on the access token and on the submission on the <a href="/">front page</a>, it will fetch your friends and all their events, groups, interests, and likes. At this point the correlations are calculated and you can browse the result as nice graphs.
  </p>

  <h2>Usage</h2>
  <p>
  </p>
</div>
